<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="post">
        <p>学生姓名1：<input type="text" name="username1" placeholder="请输入学生姓名"></p>
        <p>学生年龄1：<input type="text" name="age1" placeholder="请输入学生年龄"></p>
        <hr>
        <p>学生姓名2：<input type="text" name="username2" placeholder="请输入学生姓名"></p>
        <p>学生年龄2：<input type="text" name="age2" placeholder="请输入学生年龄"></p>
        <p><input type="submit" value="提交"></p>
    </form>
</body>
</html>